@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model Factory_Management_System_MVC_2.Areas.Admin.Models.ProductModel

<div class="page-inner">

    <div class="row">
        <div class="card">
            <div class="card-header">
                <div class="card-title h2"><span class="h2 font-weight-bold">Add Product</span></div>
            </div>
            <div class="card-body">

                <input type="hidden" asp-for="ProductID" />
                <input type="hidden" asp-for="AdminID" value="1" />

                <div class="form-group">
                    <label for="largeInput"><span class="h5">Product Name</span></label>
                    <input type="text"
                           asp-for="ProductName"
                           class="form-control form-control-lg"
                           id="largeInput"
                           placeholder="Product Name" />
                </div>
                <div class="form-group">
                    <label for="largeInput"><span class="h5">Material</span></label>
                    <input type="text"
                           asp-for="Material"
                           class="form-control form-control-lg"
                           id="largeInput"
                           placeholder="Material" />
                </div>
                <div class="form-group">
                    <label for="largeInput"><span class="h5">Price</span></label>
                    <input type="Number"
                           asp-for="Price"
                           class="form-control form-control-lg"
                           id="largeInput"
                           placeholder="Price" />
                </div>

                <div class="my-3 d-flex justify-content-center gap-3">
                    <button class="btn btn-success"><span class="h5">Submit</span></button>
                    <button class="btn btn-danger"><span class="h5">Cancel</span></button>
                </div>


            </div>
        </div>
    </div>
</div>
