
@model Factory_Management_System_MVC_2.Areas.Auth.Models.LoginModel

<div class="page-inner">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <div class="card-title h2">
                    <span class="h2 font-weight-bold">Login</span>
                </div>
            </div>
            <div class="card-body">
                <form asp-action="Save" method="post" id="loginform">
                    <input type="text" name="name" />
                    <input type="submit" value="Submit" />
                </form>


            </div>
        </div>
    </div>
</div>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>
